<h1>My Secrets</h1>

<h1>Welcome <%=@user.name%></h1>

<form action="/create_secret" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>New Secret</p>
  <p><textarea name="add_secret" rows="8" cols="80"></textarea></p>
  <input type="submit" name="" value="Create Secret">
</form>

<ul>
  <% @user.secrets.each do |secret| %>
    <li><%= secret.content %><%= link_to 'delete',"/secrets/#{secret.id}", :method => :delete %>
  <% end %>
</ul>

<button type="button" name="button"><a href="/logout">Logout</a></button>

<button type="button" name="button"><a href="/secrets">Secret</a></button>
