<h1>Users#register</h1>

<% if @errors %>
  <% @errors.each do |error| %>
  <h4> <%= error[1][0] %> </h4>
  <% end %>
<% end %>

<form  action="/create" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>Email: <input type="text" name="email"></p>
  <p>Name: <input type="text" name="name"></p>
  <p>Password: <input type="text" name="password"></p>
  <p>Confirm Password: <input type="text" name="password_confirm"></p>
  <input type="submit" name="" value="Join">
</form>
