<h1>Surveys#index</h1>
<p>Find me in app/views/surveys/index.html.erb</p>

<form action='/surveys/submit' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  Your Name: <input type='text' name='name' /> <br>
  Dojo Location:
  <select name = "location">
  <option value="Mountain View">Mountain View</option>
  <option value="Chicago">Chicago</option>
  <option value="Seattle">Seattle</option>
  <option value="Texas">Texas</option>
</select> <br>
Favorite Language:
<select  name = "language">
<option value="Javascript">Javascript</option>
<option value="Python">Python</option>
<option value="MEAN">MEAN</option>
<option value="Ruby on Rails">Ruby on Rails</option>
</select> <br>
 Comments (optional)<br>
 <textarea name="comment" rows="8" cols="60"></textarea> <br>
  <input type='submit' value='Submit' />
</form>
