<h1>New user</h1>
<form class="/user/create" action="/user/create" method="post">
  first_name <br>
  <input type="text" name="first_name"> <br>
  last_name <br>
  <input type="text" name="last_name"> <br>
  Email <br>
  <input type="text" name="email"> <br>
  Password <br>
  <input type="text" name="password"> <br>
  <p>
  <input type="submit" value="Create">
</form>
<a href="/users">Back</a>
