<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<form action='/user/add' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type='text' name='name' />
  <input type='submit' value='Create' />
</form>
