<h1>Users#secrets</h1>

<h2>Secrets</h2>

<ul>
  <% @secrets.each do |secret| %>
    <% @users.each do |user| %>
      <li><%= user.name %> <%= secret.content %> <%= link_to 'delete',"/secrets/#{secret.id}", :method => :delete %>
    <% end %>
  <% end %>
</ul>

<a href="/logout">Logout</a>
